{% extends 'baseOf.html' %}

{% block content %}

<a href="" class="btn btn-danger">
    NUEVO INGRESO
</a>
<hr>
<main class="container py-5">
    <section class="card card-body">
        <table style="width: 100%;">

            <tr>
                <th>
                    ID.
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    H.entrada
                </th>
                <th>
                    H.salida
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Opcion
                </th>

            </tr>
            <tr>
                <td>
                    {data}
                </td>
                <td>
                    {data}
                </td>
                <td>
                    {data}
                </td>
                <td>
                    {data}
                </td>
                <td>
                    {data}
                </td>
                <td>
                    <a href="" class="btn btn-secondary">
                        MARCAR SALIDA
                    </a>
                </td>
            </tr>

        </table>

    </section>

</main>


{% endblock %}