{% extends 'baseOf.html' %}

{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <h1>
                {{error}}
            </h1>
            <form action="/oficiales/crearReporte/" method="POST" class="card card-body">
                {% csrf_token %}
        
                {{form}}

                <br>


                <button class="btn btn-primary">
                    Generar reporte
                </button>
            </form>
        </div>
        <div class="col-md-4 offset-md-4 mt-5">
            <h1>
                Mis Reportes
            </h1>

            {% for datox in datos %}

            

            <p>
                Tabla: id-user-fecha: {{datox}}
            </p>

            {% endfor %}
            
        </div>
    </div>
   
</main>

{% endblock %}
